
body {

    text-align: center;

    background: #a46740;

}

#game {

    border-radius: 10px;

    border: 1px solid #666;

    background: #232;

    width: 500px;

    height: 460px;

    margin: 0 auto;

    display: -webkit-box;

    -webkit-box-pack: center;

    -webkit-box-align: center;

}

#cards {

    position: relative;

    width: 380px;

    height: 400px;

}

.card {

    -webkit-perspective: 600;

    width: 80px;

    height: 120px;

    position: absolute;

    transition: all .3s;

}

.face {

    border-radius: 10px;

    width: 80px;

    height: 120px;

    position: absolute;

    transition: all .3s;

    backface-visibility: hidden;

}

.front {

    background: #999 url(images/deck.png) 0 -480px;

    z-index: 10;

}

.back {

    background: #efefef url(images/deck.png);

    transform: rotate3d(0, 1, 0, -180deg);

    z-index: 8;

}

.card:hover .face {

    -webkit-box-shadow: 0 0 20px #aaa;

    box-shadow: 0 0 10px #aaa;

}

.card-flipped .face {

    -webkit-box-shadow: 0 0 20px #aaa;

    box-shadow: 0 0 10px #aaa;

}

.card-flipped .front {

    -moz-transform: rotate3d(0, 1, 0, 180deg);

    -webkit-transform: rotate3d(0, 1, 0, 180deg);

    transform: rotate3d(0, 1, 0, 180deg);

    z-index: 8;

}

.card-flipped .back {

    -moz-transform: rotate3d(0, 1, 0, 0deg);

    -webkit-transform: rotate3d(0, 1, 0, 0deg);

    transform: rotate3d(0, 1, 0, 0deg);

    z-index: 10;

}
.card-removed {
	opacity: 0;
}



.cardAJ {background-position: -800px 0;}
.cardAQ {background-position: -880px 0;}
.cardAK {background-position: -960px 0;}
.cardBJ {background-position: -800px -120px;}
.cardBQ {background-position: -880px -120px;}
.cardBK {background-position: -960px -120px;}
.cardCJ {background-position: -800px -240px;}
.cardCQ {background-position: -880px -240px;}
.cardCK {background-position: -960px -240px;}
.cardDJ {background-position: -800px -360px;}
.cardDQ {background-position: -880px -360px;}
.cardDK {background-position: -960px -360px;}