
#playground {

    background: #e0ffe0;

    width: 400px;

    height: 200px;

    position: relative;

    overflow: hidden;

    z-index: -9999;

}

#ball {

    background: #fbb;

    position: absolute;

    width: 20px;

    height: 20px;

    left: 150px;

    top: 100px;

    border-radius: 10px;

    z-index: -99;

}

.paddle {

    left: 50px;

    top: 70px;

    position: absolute;

    width: 30px;

    height: 70px;

}

#paddleB {

    left: 320px;

    background: #15f;

}

#paddleA {

    background: #f23;

}
body {
    text-align: center;
}

#game {
    
}

input {

}
